.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 60px 10px 80px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: white;
  background-color: rgb(5, 88, 172);
  background-image: url('/assets/images/angular.png');
  background-repeat: no-repeat;
  background-position: 12px 2px;
  background-size: 40px;
  text-align: right;
}

#title {
  padding-right: 100px;
}

@media only screen and (min-width: 780px) {
  .header {
    text-align: left;
  }
}
